.flash {
  width: 100vw;
  height: 25px;
  color: $color-white;
  text-align: center;
  // position: fixed;
  // z-index: 1;
  &__alert {
    background: #F35500;
  }
  &__notice {
    background: $color-flash-and-btn;
  }
}
