@import "./reset";
@import "./variable";
@import "font-awesome";
@import "./chatspace";
@import "./user.scss";
@import "./flash";
@import "./side";
@import "./group.scss";


* {
  box-sizing: border-box;
}

body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}