@import "./reset";
@import "./variable";
@import "font-awesome";
@import "./chatspace";
@import "./user.scss";
@import "./flash";
@import "./side";
@import "./group.scss";


* {
  box-sizing: border-box;
}

body {
  height: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}