@import "./reset";
@import "./variable";
@import "font-awesome";
@import "./chatspace";
@import "./user.scss";
@import "./flash";
@import "./side";


* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  overflow: hidden;
}